In [2]:
#ADD

tup1=("water",4,7,True)
tup1

('water', 4, 7, True)

In [9]:
list1=list(tup1)
list1

['water', 4, 7, True]

In [10]:
list1.append(8)
list1

['water', 4, 7, True, 8]

In [11]:
tup1=tuple(list1)
tup1

('water', 4, 7, True, 8)

In [12]:
#ADD
tup1=(1,2,5,8)
tup1

(1, 2, 5, 8)

In [17]:
list1=list(tup1)
list1

[1, 2, 5, 8]

In [18]:
list1.insert(3,4)
list1

[1, 2, 5, 4, 8]

In [19]:
tup1=tuple(list1)
tup1

(1, 2, 5, 4, 8)

In [20]:
#ADD
tup1=(1,2,3)
tup1

(1, 2, 3)

In [21]:
tup2=(7,8,9)
tup2

(7, 8, 9)

In [22]:
list1=list(tup1)
list1

[1, 2, 3]

In [23]:
list2=list(tup2)
list2

[7, 8, 9]

In [24]:
list1.extend(list2)
list1

[1, 2, 3, 7, 8, 9]

In [25]:
tup1=tuple(list1)
tup1

(1, 2, 3, 7, 8, 9)

In [26]:
#REMOVE
tup1=(1,4,6,8,9)
tup1

(1, 4, 6, 8, 9)

In [29]:
list1=list(tup1)
list1

[1, 4, 6, 8, 9]

TypeError: 'builtin_function_or_method' object is not subscriptable